.blue{
    height: 200px;
    width: 400px;
    border-radius: 20%;
    background-color: rgb(70, 95, 207);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 40px;
    position: relative;
  animation-name: example;
  animation-duration: 1s;
}
